<!DOCTYPE html>
<layout:html lang="en"
             xmlns:th="http://www.thymeleaf.org"
             xmlns:layout="http://www.w3.org/1999/xhtml">
    <title></title>
  <th:block th:include="fragments/header"></th:block>
  </head>
  <body>


  <div>
    <br></br>

    <table id="medicines">
      <thead>
        <tr>
          <th>
            <a th:text="Id" th:href="|@{/}|"></a>
          </th>
          <th>
            <a th:text="Name" th:href="|@{/byName/}|"></a>
          </th>
          <th>
            <a th:text="Brand" th:href="|@{/byBrand/}|"></a>
          </th>
          <th>
            <a th:text="Cost" th:href="|@{/byCost/}|"></a>
          </th>
          <th>Read More</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="medicine : ${medicines}">
          <td th:text="${medicine.id}"></td>
          <td th:text="${medicine.getName()}"></td>
          <td th:text="${medicine.getBrand()}"></td>
          <td th:text="${medicine.getCost()}"></td>
          <td>
            <a th:text="readMore" th:href="|@{/medicine/}${medicine.id}|"></a>
          </td>

          <td>
            <a th:text="edit" th:href="|@{/admin/edit/}${medicine.id}|"></a>
          </td>

          <td>
            <a th:text="delete" th:href="|@{/admin/delete/}${medicine.id}|"></a>
          </td>


        </tr>
      </tbody>
    </table>

  </div>

  <!--<div th:replace="fragments/footer :: footer"/>-->
  </body>
</layout:html>

